@tailwind utilities;

:root {
  --sp-background: 0 0% 100%;
  --sp-foreground: 240 10% 3.9%;

  --sp-muted: 240 4.8% 95.9%;
  --sp-muted-foreground: 240 3.8% 46.1%;

  --sp-popover: 0 0% 100%;
  --sp-popover-foreground: 240 10% 3.9%;

  --sp-card: 0 0% 100%;
  --sp-card-foreground: 240 10% 3.9%;

  --sp-border: 240 5.9% 90%;
  --sp-input: 240 5.9% 90%;

  --sp-primary: 240 5.9% 10%;
  --sp-primary-foreground: 0 0% 98%;

  --sp-secondary: 240 4.8% 95.9%;
  --sp-secondary-foreground: 240 5.9% 10%;

  --sp-accent: 240 4.8% 95.9%;
  --sp-accent-foreground: 240 5.9% 10%;

  --sp-destructive: 0 84.2% 60.2%;
  --sp-destructive-foreground: 0 0% 98%;

  --sp-ring: 240 10% 3.9%;

  --sp-radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --ring: 240 4.9% 83.9%;
}

#simplePayModalContainer {
  transform: translate(-50%, -50%);
  color: var(--foreground);

  /*borders*/
  .sp-border-border{
    border: 1px solid hsl(var(--sp-border));
  }
  .sp-border-b{
    border-bottom: 1px solid hsl(var(--sp-border));
  }
  .sp-border-t{
    border-top: 1px solid hsl(var(--sp-border));
  }
  .sp-border{
    border: 1px solid hsl(var(--sp-border));
  }
  .sp-ring-green-400{
    border-color: #4ade80;
  }
  .sp-border-input {
    border-color: hsl(var(--sp-input));
  }
  .sp-ring-offset-background {
    --tw-ring-offset-color: hsl(var(--sp-background));
  }
  /*.sp-border {*/
  /*  border-width: 1px;*/
  /*}*/

  /*margins*/
  .sp-mt-2 {
    margin-top: 0.5rem;
  }
  .sp-mt-1 {
    margin-top: 0.25rem;
  }
  .sp-mt-4 {
    margin-top: 1rem;
  }
  .sp-mt-6 {
    margin-top: 1.5rem;
  }
  .sp-mt-7 {
    margin-top: 1.75rem;
  }
  .sp-mb-4{
    margin-bottom: 1rem;
  }
  .sp-ml-4 {
    margin-left: 1rem;
  }
  .sp-mt-5 {
    margin-top: 1.25rem;
  }
  .sp-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  /*paddings*/
  .sp-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .sp-px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .sp-pt-4 {
    padding-top: 1rem;
  }
  .sp-pt-0 {
    padding-top: 0;
  }
  .sp-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*translates*/
  .-sp-translate-y-1\/2{
    transform: translateY(-50%);
  }
  .-sp-translate-x-1\/2{
    transform: translateX(-50%);
  }
  .sp-translate-center{
    transform: translate(-50%, -50%);
  }

  /*colors*/
  .sp-text-foreground{
    color: hsl(var(--sp-foreground));
  }
  .sp-text-primary-foreground{
    color: hsl(var(--sp-primary-foreground));
  }
  .sp-text-muted-foreground {
    color: hsl(var(--sp-muted-foreground));
  }
  .sp-text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / 1);
  }
  .sp-text-green-500 {
    color: rgb(34 197 94 / 1);
  }
  .sp-text-secondary-foreground {
    color: hsl(var(--sp-secondary-foreground));
  }

  /*backgrounds*/
  .sp-bg-primary{
    background: hsl(var(--sp-primary));
  }
  .sp-bg-background {
    background-color: hsl(var(--sp-background));
  }
  .sp-bg-border{
    background-color: hsl(var(--sp-border));
  }
  .sp-bg-green-400{
    background-color: #4ade80;
  }
  .sp-bg-secondary {
    background-color: hsl(var(--sp-secondary));
  }
  .sp-bg-green-500_10{
    background-color: rgb(34 197 94 / 0.1);;
  }

  /*fonts*/
  .sp-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .sp-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .sp-leading-none {
    line-height: 1;
  }


/*  ----------------------*/

  *,
  ::before,
  ::after {
    font-family: system-ui;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--sp-border);
    margin: 0;

  }

  ::before,
  ::after {
    --tw-content: '';
  }

  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
  }

  & hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  & abbr:where([title]) {
    text-decoration: underline dotted;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  & a {
    color: inherit;
    text-decoration: inherit;
  }

  & b,
  & strong {
    font-weight: bolder;
  }

  & code,
  & kbd,
  & samp,
  & pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  & small {
    font-size: 80%;
  }

  & sub,
  & sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  & sub {
    bottom: -0.25em;
  }

  & sup {
    top: -0.5em;
  }

  & table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  & button,
  & input,
  & optgroup,
  & select,
  & textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  & button,
  & select {
    text-transform: none;
  }

  & button,
  & input:where([type='button']),
  & input:where([type='reset']),
  & input:where([type='submit']) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  & progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  [type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  & summary {
    display: list-item;
  }

  & blockquote,
  & dl,
  & dd,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & hr,
  & figure,
  & p,
  & pre {
    margin: 0;
  }

  & fieldset {
    margin: 0;
    padding: 0;
  }

  & legend {
    padding: 0;
  }

  & ol,
  & ul,
  & menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & dialog {
    padding: 0;
  }

  & textarea {
    resize: vertical;
  }

  & input::placeholder,
  & textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }

  & button,
  [role="button"] {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }

  & img,
  & svg,
  & video,
  & canvas,
  & audio,
  & iframe,
  & embed,
  & object {
    display: block;
    vertical-align: middle;
  }

  & img,
  & video {
    max-width: 100%;
    height: auto;
  }

  [hidden] {
    display: none;
  }
}

@media (max-width: 768px){
  #simplePayModalContainer{
    transform: unset;
  }
}

